%table.table.table-hover
  %thead
    %tr
      %th URL completa
      %th URL corta
      %th Estadísticas
  %tbody
  - @list.each do |url|
    %tr
      %td
        %a{:href=>"#{url.url}"} #{url.url}
      %td
        %a{:href=>"/visita/#{url.to}"} #{url.id.to_s(Base)} #{url.to}
      %td
        %a{:href=>"/info/#{url.to}", :title => "Estadísticas"} Estadisticas
